<!DOCTYPE html>
<html lang="en">


<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <h1>About Page</h1>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quis?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptas voluptates dolorem quo. Sapiente
                qui
                vero ratione omnis doloremque similique?</p>

            <%- include('./partials/footer.ejs') %>

    </body>

</html>